Repository OpenWonderLabs/node-switchbot, pull requests merged in 2024-10, with the labels that each got.

#259 add link to my script 'get-encryption-key' npm script in BLE.md
  BLE.md
Labels: docs, latest

#260 v3.1.0
  .github/workflows/release.yml
  BLE.md
  CHANGELOG.md
  OpenAPI.md
  docs/media/BLE.md
  package-lock.json
  package.json
  src/advertising.ts
  src/device.ts
  src/device/woblindtilt.ts
  src/device/wobulb.ts
  src/device/woceilinglight.ts
  src/device/wocontact.ts
  src/device/wocurtain.ts
  src/device/wohand.ts
  src/device/wohub2.ts
  src/device/wohumi.ts
  src/device/woiosensorth.ts
  src/device/woplugmini.ts
  src/device/wopresence.ts
  src/device/wosensorth.ts
  src/device/wostrip.ts
  src/index.ts
  src/parameter-checker.ts
  src/switchbot-ble.ts
  src/switchbot-openapi.ts
  src/test/index.test.ts
  src/test/switchbot-ble.test.ts
  src/test/switchbot.test.ts
  src/types/bledevicestatus.ts
Labels: enhancement, dependencies, workflow, docs, latest

#266 Change scanning log level
  BLE.md
  src/switchbot-ble.ts
Labels: enhancement, docs, latest

#267 Fix characteristic notification
  src/device.ts
Labels: enhancement, latest

#268 Fix timeout error handling
  src/device.ts
Labels: enhancement, latest

#269 Fix original curtain service data
  src/device/wocurtain.ts
Labels: enhancement, latest
