Repository OpenWonderLabs/node-switchbot, pull requests merged in 2024-02, with the labels that each got.

#218 v2.0.0
  .eslintrc
  .eslintrc.js
  .github/workflows/changerelease.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot.yml
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
  .gitignore
  .npmignore
  CHANGELOG.md
  README.md
  errros.log
  lib/switchbot-device-wocontact.js
  lib/switchbot-device-woiosensorth.js
  lib/switchbot-device-wopresence.js
  lib/switchbot-device-wosensorth.js
  lib/switchbot.js
  package-lock.json
  package.json
  src/advertising.ts
  src/device.ts
  src/device/woblindtilt.ts
  src/device/wobulb.ts
  src/device/wocontact.ts
  src/device/wocurtain.ts
  src/device/wohand.ts
  src/device/wohumi.ts
  src/device/woiosensorth.ts
  src/device/woplugmini.ts
  src/device/wopresence.ts
  src/device/wosensorth.ts
  src/device/wostrip.ts
  src/index.ts
  src/parameter-checker.ts
  src/switchbot.ts
  tsconfig.json
Labels: enhancement, dependencies, workflow, docs, latest, major

#220 Fix async constructor
  src/switchbot.ts
Labels: enhancement, beta, latest

#224 Fix various 2.0.0 issues
  src/device.ts
  src/device/woblindtilt.ts
  src/device/wobulb.ts
  src/device/wocontact.ts
  src/device/wocurtain.ts
  src/device/wohand.ts
  src/device/wohumi.ts
  src/device/woiosensorth.ts
  src/device/woplugmini.ts
  src/device/wopresence.ts
  src/device/wosensorth.ts
  src/device/wosmartlock.ts
  src/device/wostrip.ts
  src/switchbot.ts
Labels: enhancement, beta

#225 Revert async change
  src/switchbot.ts
Labels: enhancement, beta

#226 Update README.md
  README.md
Labels: docs, latest

#223 v2.0.2
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  src/advertising.ts
  src/device.ts
  src/device/woblindtilt.ts
  src/device/wobulb.ts
  src/device/wocontact.ts
  src/device/wocurtain.ts
  src/device/wohand.ts
  src/device/wohumi.ts
  src/device/woiosensorth.ts
  src/device/woplugmini.ts
  src/device/wopresence.ts
  src/device/wosensorth.ts
  src/device/wosmartlock.ts
  src/device/wostrip.ts
  src/switchbot.ts
Labels: enhancement, dependencies, docs, latest

#228 Add some TypeScript types
  src/advertising.ts
  src/device.ts
  src/device/woblindtilt.ts
  src/device/wobulb.ts
  src/device/wocontact.ts
  src/device/wocurtain.ts
  src/device/wohand.ts
  src/device/wohumi.ts
  src/device/woiosensorth.ts
  src/device/woplugmini.ts
  src/device/wopresence.ts
  src/device/wosensorth.ts
  src/device/wosmartlock.ts
  src/device/wostrip.ts
  src/parameter-checker.ts
  src/switchbot.ts
  tsconfig.json
Labels: enhancement, latest

#229 Remove Buffer import
  src/advertising.ts
  src/device.ts
  src/device/woblindtilt.ts
  src/device/wobulb.ts
  src/device/wocontact.ts
  src/device/wocurtain.ts
  src/device/wohand.ts
  src/device/wohumi.ts
  src/device/woplugmini.ts
  src/device/wosmartlock.ts
  src/device/wostrip.ts
  src/parameter-checker.ts
Labels: enhancement, beta, latest

#230 v2.0.3
  CHANGELOG.md
  package-lock.json
  package.json
  src/advertising.ts
  src/device.ts
  src/device/woblindtilt.ts
  src/device/wobulb.ts
  src/device/wocontact.ts
  src/device/wocurtain.ts
  src/device/wohand.ts
  src/device/wohumi.ts
  src/device/woiosensorth.ts
  src/device/woplugmini.ts
  src/device/wopresence.ts
  src/device/wosensorth.ts
  src/device/wosmartlock.ts
  src/device/wostrip.ts
  src/parameter-checker.ts
  src/switchbot.ts
  tsconfig.json
Labels: enhancement, dependencies, docs, latest
