Repository OpenWonderLabs/node-switchbot, pull requests merged in 2024-04, with the labels that each got.

#236 Lock Adv Data Fixes, Readme Update
  README.md
  src/advertising.ts
  src/device/wosmartlock.ts
Labels: enhancement, docs, beta

#239 Fix TypeScript issues
  .eslintrc
  src/advertising.ts
  src/device.ts
  src/device/woblindtilt.ts
  src/device/wobulb.ts
  src/device/wocurtain.ts
  src/device/wohand.ts
  src/device/wohumi.ts
  src/device/woplugmini.ts
  src/device/wostrip.ts
  src/parameter-checker.ts
  src/switchbot.ts
Labels: enhancement, beta, latest

#240 Fix warnings
  src/device.ts
  src/parameter-checker.ts
  src/switchbot.ts
Labels: enhancement, beta

#241 TypeScript fixes
  src/device.ts
  src/device/wosmartlock.ts
  src/noble.d.ts
  src/switchbot.ts
Labels: enhancement, beta
